body {
    position: relative;

    display: block;

    min-width: 320px;

    background-color: $colorPrimaryWhite;
    color: $colorPrimaryText;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}