$colorAccent: #4d5ae5;
$colorAccentConvert: #404bbf;
$colorAccentAlt: #31d0aa;
$colorPrimaryDark: #2e2f42;
$colorPrimaryText: #434455;
$colorGrayAlt: #8e8f99;
$colorPrimaryWhite: #ffffff;
$colorLight: #f4f4fd;
$colorSecondaryLight: #e7e9fc;
$colorWhiteAlt: #e7e9fc;
$colorModalWhite: #fcfcfc;
$timeFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);